import { useQuery } from '@tanstack/react-query'
import { api } from '@/shared/utils/fetch'
import { T{{name}} } from '@/shared/types/models/{{name}}'

export type TResponse = T{{name}}

export const QKEY_{{name}} = '{{name}}'

export const use{{name}} = () => {
  return useQuery({
    queryKey: [QKEY_{{name}}],
    queryFn: async ({ signal }) => {
      const { data } = await api.get<TResponse>('/api', {
        signal
      })
      return data
    }
  })
}